body{
  background-color:white;
}
    

.clearfix{
    content: "";
    clear: both;
    display: table;
}

li{
    list-style-type: none;padding: 2px;margin: 0px;border: 1px solid black;float: left;font-family: fantasy;background-color: lightgreen;font-size: 30px;
}

.box{
      background-image:url(image/Tulips.jpg);
        background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    width: 1024px;
    height: 768px;
    font-size: 20px;
}
.bo{
    background-color: aqua;
    float: left;
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: center;
    height: 15em;
}
.bo h2{  
}

    
